#estudiosTotal {
    margin-bottom: 100px;
}

#estudios h2 {
    font-size: 3em;
}

.title {
    font-size: 1em;
    text-align: center;
}

main .estudios-realizados {
    text-align: center;
}


main .estudios-realizados1 img{
    width: 150px;
    margin-left: 120px;
}

main .estudios-realizados3 img{
    width: 150px;
    margin-right: 15px;
}

.estudios-realizados3 p{
    font-size: 1.5em;
    margin: 20px;
}

.estudios-realizados1 p{
    font-size: 1.5em;
    margin-left: 140px;
    padding: 0;
}

strong {
    font-weight: bold;
}

.estudios-realizados1 img:hover{
    transform: scale(1.2);
}

.estudios-realizados3 img:hover{
    transform: scale(1.2);
}



/* Tablets en horizontal y escritorios normales */
@media (min-width: 1024px) {
    #estudios h2 {
        font-size: 3em;
        color: black;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    main .estudios-realizados {
        display: flex;
        justify-content: center;
        align-items: baseline;
        margin: 0 40px 0 40px;
    }

    .imagen-parr {
        margin: 5px;
    }
}