h2 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 50px;
}

footer {
    width: 100%;
}

footer .footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    background-color: black;
}

footer p {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer .linkedin {
    height: 60px;
    margin-left: 22px;
}

.footer .github {
    height: 85px;
}

.footer .linkedin, .footer .github {
    vertical-align: middle;
}

footer a {
    color: transparent;
}