body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    scroll-behavior: smooth;
}

/* .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    max-width: 800px;
}

.last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.skills img {
    align-items: center;
    width: 100px;
    transition: transform 0.2s;
}

.skills img:hover {
    transform: scale(1.2);
}

.skills img:nth-child(12) {
    margin-left: 23px;
    width: 55px;
} */