.softkills h2 {
    font-size: 3em;
    text-align: center;
}

.habilidadesSuave img {
    width: 80px;
}

.habilidadesSuave:hover img,
.habilidadesSuave:hover p {
    transform: scale(1.2);
}

.habilidadesSuaves {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 60px;
}

.habilidadesSuave {
    text-align: center;
}

.habilidadesSuave p {
    font-size: 30px;
}