#educacion h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin-bottom: 100px;
    margin-top: 0;
}

#educacion p {
    font-size: 25px;
}

.estudios-realizados img {
    max-width: 30%;
    height: auto;
}

#educacion {
    width: 100%;
    background-color: #2b6462;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#educacion .estudios-realizados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.estudios-realizados .estudios-realizados3,
.estudios-realizados .estudios-realizados1 {
    width: 48%;
    margin: 10px;
}

.estudios-realizados img:hover {
    transform: scale(1.2);
}

/* Media query para pantallas de 480px o menos */
@media (max-width: 480px) {
    .estudios-realizados .estudios-realizados3,
    .estudios-realizados .estudios-realizados1 {
        width: 100%;
        margin-bottom: 20px;
    }
}