.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 900px;
    margin-bottom: -200px;
}

.PictureContainer {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

.Picture {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-size: cover;
    object-fit: cover;
    box-shadow: 0px 5px 20px black;
    margin-bottom: 40px;
}

.NameContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.StudiesContainer h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 380px;
    white-space: nowgrap;
}

.StudiesContainer {
    display: flex;
    justify-content: center;
}

.Name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
}

.Picture img:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {
    .MainContainer {
        width: 100%;
    }

    .Picture {
        width: 100%;
        max-width: 250px;
    }

    .Name {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .PictureContainer {
        margin-left: 150px;
    }
    .NameContainer .Name {
        display: block;
        white-space: nowrap;
        margin-left: 155px;
    }
    .StudiesContainer .StudiesTitles {
        margin-left: 150px;
        white-space: nowrap;
    }
}