body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.navbar {
    background-color: #111;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav_items a {
    margin: 15px;
    text-decoration: none;
    color: white;
    position: relative;
}

.nav_items a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: all 0.5s;
}

.nav_items a:hover::before {
    width: 100% !important;
}

.nav_toggle {
    display: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-end; 
    }

    .nav_items {
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #111;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 60%;
        transform: translateX(-100%);
        transition: 0.3s ease all;
    }

    .nav_items a {
        text-align: center;
    }

    .nav_logo {
        font-weight: bold;
        font-size: 20px;
        margin: 15px;
    }


    .nav_toggle {
        display: flex !important;
        flex-direction: column;
        margin: 15px;
    }

    .nav_toggle span {
        width: 30px;
        height: 4px;
        background: white;
        margin-bottom: 5px;
        border-radius: 2px;
        transform-origin: 5px 0px;
        transition: all 0.2s linear;
    }

    .close span {
        transform: rotate(45deg) translate(0px, 0px);
    }

    .close span:nth-child(2) {
        display: none;
    }

    .close span:nth-child(3){
        transform: rotate(-45deg) translate(-5px, 1px);
    }

    .open {
        transform: translateX(0) !important;
    }
}