/* #proyectosbootCamp h2 {
    margin-bottom: 100px;
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.imagenesCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

#texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgb(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: black;
    font-weight: 300;
    font-size: 27px;
}

.texto p {
    align-items: center;
    padding: 20px;
    color: black;
    font-size: 0px;
    font-weight: 300;
}

.imagenesCarrusel .texto {
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenesCarrusel:hover .texto {
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenesCarrusel:hover .texto p {
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #999;
}

#adelante, #atras {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #proyectosbootCamp {
        max-width: 100%;
    }

    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .texto h3 {
        padding-top: 20px;
        font-size: 18px;
    }

    .texto p {
        padding: 10px;
        font-size: 14px;
    }

    #adelante, #atras {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .texto {
        max-height: 80px;
        text-align: center;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .texto h3 {
        padding-top: 20px;
        font-size: 18px;
        margin: 15px;
    }

    .texto p {
        text-align: center;
        padding: 10px;
        font-size: 5px;
        margin: 10px;
    }
} */






#proyectosbootCamp h2 {
    margin-bottom: 100px;
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.imagenesCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.85);
    height: 576px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

#texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgb(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.texto h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: black;
    font-weight: 300;
    font-size: 27px;
}

.texto p {
    align-items: center;
    padding: 20px;
    color: black;
    font-size: 0px;
    font-weight: 300;
}

.imagenesCarrusel .texto {
    width: 600px;
    height: 100px;
    transition: 1s;
}

.imagenesCarrusel:hover .texto {
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 300px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenesCarrusel:hover .texto p {
    transition: font-size 0s .2s linear;
    font-size: 23px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #000000;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #999;
}

#adelante, #atras {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #proyectosbootCamp {
        max-width: 100%;
    }

    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .texto h3 {
        padding-top: 20px;
        font-size: 18px;
    }

    .texto p {
        padding: 10px;
        font-size: 14px;
    }

    #adelante, #atras {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .texto h3 {
        padding-top: 20px;
        font-size: 18px;
    }

    .texto {
        /* max-height: 80px;
        text-align: center; */
        max-width: 380px;
    }

    .texto p {
        margin-bottom: 25px;
    }
}

@media (max-width: 320px) {
    #proyectosbootCamp {
        margin-left: 95px;
    }
    #proyectosbootCamp h2 {
        margin-left: -20px;
        white-space: nowrap;
    }

    .texto h3 {
        font-size: 2px;
    }

    .texto {
        max-width: 250px;
        max-height: 50px;
    }

    .texto p {
        font-size: 5px;
        max-width: 20px;
        max-height: 20px;
        margin-bottom: 15px;
        margin-left: -200px;
        white-space: nowrap;
    }

    .carrusel {
        width: 480px;
        margin-left: -100px;
    }

    .imagenesCarrusel img {
        margin-left: 1px;
    }

    .imagenesCarrusel #texto {
        max-width: 250px;
        max-height: 50px;
        overflow: hidden;
        margin-right: 10px;
    }

    .puntos {
        margin-left: 60px;
    }
}