#proyectosbootCamp h2 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 100px;
}

.carrusel {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.imagenesCarrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.img {
    box-shadow: 0px 4px 10px 0px rgb(0, 0, 0, 0.85);
    height: 575px;
    width: 1134px;
    border-radius: 15px;
    margin: 5px;
    object-fit: cover;
    filter: saturate(175%);
}

#texto {
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    transform: translateY(0px);
    margin-bottom: 9px;
    backdrop-filter: blur(20px);
    background-color: rgb(63, 106, 138, 0.21);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    opacity: 0; /* Agrega esta propiedad para establecer la opacidad inicial en 0 */
    transition: opacity 0.5s;
}

.imagenesCarrusel:hover #texto {
    opacity: 1;
}

.texto h3 {
    text-shadow: 0px 0px 15px black;
    padding-top: 40px;
    color: black;
    font-weight: 300;
    font-size: 27px;
}

.texto p {
    align-items: center;
    padding: 20px;
    color: black;
    font-weight: 100;
}

.imagenesCarrusel .texto {
    width: 500px;
    height: 50px;
    transition: 1s;
}

.imagenesCarrusel:hover .texto {
    transition: height 1s, transform 1s, background-color 1s;
    transform: translateY(-150px);
    height: 260px;
    background-color: rgba(63, 106, 138, 0.71);
}

.imagenesCarrusel:hover .texto p {
    transition: font-size 0s .2s linear;
    font-size: 20px;
    font-weight: 250;
    text-shadow: 0px 0px 10px #000000;
}

.puntos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.puntos p {
    font-size: 100px;
    font-weight: 500;
    margin-top: -50px;
    color: black;
}

.puntos .bold {
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    color: #999;
}

#adelante, #atras {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

@media (max-width: 768px) {
    #proyectosbootCamp {
        max-width: 100%;
    }

    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .texto h3 {
        padding-top: 20px;
        font-size: 18px;
    }

    .texto p {
        padding: 10px;
        font-size: 14px;
    }

    .imagenesCarrusel .texto {
        width: 500px;
        height: 90px;
        transition: 1s;
    }

    #adelante, #atras {
        max-width: 50px;
        max-height: 50px;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .imagenesCarrusel .texto {
        width: 300px;
        height: 20px;
        transition: 1s;
    }

    .texto h3 {
        margin: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
    }

    .texto {
        text-align: center;
        max-width: 280px;
    }

    .texto p {
        font-size: 10px;
        margin-bottom: 50px;
    }
}

@media (max-width: 320px) {
    #proyectosbootCamp h2 {
        margin-bottom: 50px;
        font-size: 2em;
    }

    .img {
        width: 100%;
        height: auto;
        margin: 5px;
    }

    .imagenesCarrusel .texto {
        width: 300px;
        height: 20px;
        transition: 1s;
    }

    .texto h3 {
        margin: 50px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 30px;
        font-size: 18px;
    }

    .texto {
        text-align: center;
        max-width: 280px;
    }

    .texto p {
        font-size: 10px;
        margin-bottom: 50px;
    }
}