#sobremi p {
    text-align: center;
    font-weight: 200;
    line-height: 1.5em;
    margin: 30px 10em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#sobremi h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
    color: black;
    margin-bottom: 100px;
    margin-top: 0;
}

#sobremi strong {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#sobremi {
    background-color: white;
    margin-bottom: 100px;
}

@media (max-width:768px) {
    #sobremi p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }
}

@media (max-width:480px) {
    #sobremi p {
        font: size 4em;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:320px) {
    #sobremi h2 {
        margin-left: 140px;
        white-space: nowrap;
        margin-bottom: 80px;
    }

    #sobremi p {
        margin-left: 100px;
    }
}