.softskills h2 {
    font-size: 3em;
    margin-bottom: 100px;
}
SoftSkills
.softskills p {
    font-size: 13px;
    font-weight: bold;
}

.softskills {
    background-color: #777;
}

.softskills .softkills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.habilidadesSuaves {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Dos columnas */
    gap: 90px; /* Espacio entre las imágenes */
    margin-bottom: 150px;
}

.habilidadesSuave {
    width: 100%; /* Ocupar todo el ancho disponible en cada celda del grid */
}

.habilidadesSuave img {
    width: 90px;
}

.habilidadesSuave img:hover {
    transform: scale(1.2);
}

.SoftSkills .habilidadesSuave {
    width: 100%;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .habilidadesSuaves {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .habilidadesSuaves {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}